<script src="../../Scripts/jquery-3.5.1.min.js"></script>
<script src="../../Scripts/dx.all.js"></script>
<script src="../../Scripts/bootstrap.js"></script>
<!--<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
<link href="../../Content/Charset.css" rel="stylesheet" type="text/css">
<link href="../../Content/dx.common.css" rel="stylesheet" type="text/css">
<link href="../../Content/dx.light.css" rel="stylesheet" type="text/css">
<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../Content/Site.css" rel="stylesheet" type="text/css">
<link href="../../Content/layout/LayoutStyleSheet.css" rel="stylesheet" type="text/css">
<!--<script src="Scripts/jquery/BuildFunction.js"></script>
<script src="Scripts/jquery/Layout.js"></script>-->
<script src="../../Scripts/jquery/DataSource.js"></script>
<script src="../../Scripts/jquery/Cow_Knife_Small_Try.js"  charset="UTF-8"></script>
<script src="../../Scripts/jquery/Timmer.js" charset="BIG5"></script>
<link href="../../Content/KanBan/Cow_Knife_Small_Try_StyleSheet.css" rel="stylesheet" type="text/css">
<!--class borderSet-->

<head>
	<meta charset="utf-8">
</head>
<p>
	這邊用到的元件有<br />
	測試網頁:<a href="https://tomlin50777.github.io/tomlin50777.github.to/View/KanBan/Cow_Knife_Small_Try.html">https://tomlin50777.github.io/tomlin50777.github.to/View/KanBan/Cow_Knife_Small_Try.html</a><br />
	HTML: <a href="https://github.com/tomlin50777/tomlin50777.github.to/blob/master/View/KanBan/Cow_Knife_Small_Try.html">Cow_Knife_Small_Try.html</a><br />
	JavaScript: <a href="https://github.com/tomlin50777/tomlin50777.github.to/blob/master/Scripts/jquery/DataSource.js">DataSource.js</a><br />
	JavaScript: <a href="https://github.com/tomlin50777/tomlin50777.github.to/blob/master/Scripts/jquery/Cow_Knife_Small_Try.js">Cow_Knife_Small_Try.js</a><br />
	JavaScript: <a href="https://github.com/tomlin50777/tomlin50777.github.to/blob/master/Scripts/jquery/Timmer.js">Timmer.js</a><br />
	Style Sheet: <a href="https://github.com/tomlin50777/tomlin50777.github.to/blob/master/Content/KanBan/Cow_Knife_Small_Try_StyleSheet.css">Cow_Knife_Small_Try_StyleSheet.css</a><br />
</p>
<div class="demo-container">
	<div id="Base"></div>
</div>
<div>---------------------------------------------------------------------</div>
<div>
	Icon顏色要把dx.liggt.css第2424拿掉才會work
</div>
<div class="demo-container row">
	<div id="ect1Button"></div>
	<div id="ect2Button"></div>
	<div id="ect3Button"></div>
</div>
