<div class="row" style="height:100%">
	<div class="col-lg-6" style="height:100%">
		<div id="KanBanDataLeftDataScrollView" style="height:100%;">
			<div>List Ver</div>
			<div class="KanBanDataBlock">
				<p>
					[<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Power",<br>
					&nbsp&nbsp"SUBSYSTEM": "Power",<br>
					&nbsp&nbsp"DETAIL": "Tai-Power",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Power",<br>
					&nbsp&nbsp"SUBSYSTEM": "Power",<br>
					&nbsp&nbsp"DETAIL": "Emergency",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Power",<br>
					&nbsp&nbsp"SUBSYSTEM": "Power",<br>
					&nbsp&nbsp"DETAIL": "UPS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Power",<br>
					&nbsp&nbsp"SUBSYSTEM": "Power",<br>
					&nbsp&nbsp"DETAIL": "Sub-station",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "AMC",<br>
					&nbsp&nbsp"DETAIL": "TS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "AMC",<br>
					&nbsp&nbsp"DETAIL": "HCL",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "AMC",<br>
					&nbsp&nbsp"DETAIL": "NH3",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "AMC",<br>
					&nbsp&nbsp"DETAIL": "TOC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "CR",<br>
					&nbsp&nbsp"DETAIL": "Temperature",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "CR",<br>
					&nbsp&nbsp"DETAIL": "Humidity",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "EXHAUST",<br>
					&nbsp&nbsp"DETAIL": "E-BGR",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "EXHAUST",<br>
					&nbsp&nbsp"DETAIL": "E-SEX",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "JiXei",<br>
					&nbsp&nbsp"SUBSYSTEM": "PV",<br>
					&nbsp&nbsp"DETAIL": "BE-PV",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "PCW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP3",<br>
					&nbsp&nbsp"DETAIL": "TEMP",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "PCW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP3",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "PCW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP5",<br>
					&nbsp&nbsp"DETAIL": "TEMP",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "PCW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP5",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "Particle",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "Resistivity",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "SiO2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "TOC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "DO",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "TEMP",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "UPW",<br>
					&nbsp&nbsp"SUBSYSTEM": "LOOP4",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Bulk gas",<br>
					&nbsp&nbsp"SUBSYSTEM": "4 %HZ/N2",<br>
					&nbsp&nbsp"DETAIL": "AGCM100",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Bulk gas",<br>
					&nbsp&nbsp"SUBSYSTEM": "4 %HZ/N2",<br>
					&nbsp&nbsp"DETAIL": "AGCM101",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "Bulk gas",<br>
					&nbsp&nbsp"SUBSYSTEM": "4 %HZ/N2",<br>
					&nbsp&nbsp"DETAIL": "BGCM301",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "PMS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "H2O",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "O2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "CO",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "CO2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "H2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "THC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PAR",<br>
					&nbsp&nbsp"DETAIL": "N2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "PMS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "H2O",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "O2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "CO",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "CO2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "H2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "THC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PHE",<br>
					&nbsp&nbsp"DETAIL": "N2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "PMS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "H2O",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "O2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "CO",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "CO2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "H2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "THC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PN2",<br>
					&nbsp&nbsp"DETAIL": "N2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "PMS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "H2O",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "AR",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "CO",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "CO2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "H2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "THC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "Pressure",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "PO2",<br>
					&nbsp&nbsp"DETAIL": "N2",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "XCDA",<br>
					&nbsp&nbsp"DETAIL": "PMS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "XCDA",<br>
					&nbsp&nbsp"DETAIL": "H2O",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "XCDA",<br>
					&nbsp&nbsp"DETAIL": "NH3",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "XCDA",<br>
					&nbsp&nbsp"DETAIL": "TS",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "XCDA",<br>
					&nbsp&nbsp"DETAIL": "TOC",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "CDA",<br>
					&nbsp&nbsp"DETAIL": "PT",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp},<br>
					&nbsp{<br>
					&nbsp&nbsp"SYSTEM": "BGS",<br>
					&nbsp&nbsp"SUBSYSTEM": "GNZ",<br>
					&nbsp&nbsp"DETAIL": "PT",<br>
					&nbsp&nbsp"VALUE": 0.0<br>
					&nbsp}<br>
					]
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6" style="height:100%">
		<div id="KanBanDataRightDataScrollView" style="height:100%;">
			<div>Json</div>
			<div class="KanBanDataBlock">
				<p>
					[<br>
					&nbsp{<br>
					&nbsp&nbsp"Power": {<br>
					&nbsp&nbsp&nbsp"Power": {<br>
					&nbsp&nbsp&nbsp&nbsp"Tai-Power": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Emergency": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"UPS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Sub-station": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp},<br>
					&nbsp&nbsp"JiXei": {<br>
					&nbsp&nbsp&nbsp"AMC": {<br>
					&nbsp&nbsp&nbsp&nbsp"TS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"HCL": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"NH3": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"TOC": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"CR": {<br>
					&nbsp&nbsp&nbsp&nbsp"Temperature": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Humidity": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"EXHAUST": {<br>
					&nbsp&nbsp&nbsp&nbsp"E-BGR": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"E-SEX": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"PV": {<br>
					&nbsp&nbsp&nbsp&nbsp"BE-PV": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp},<br>
					&nbsp&nbsp"PCW": {<br>
					&nbsp&nbsp&nbsp"LOOP3": {<br>
					&nbsp&nbsp&nbsp&nbsp"TEMP": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"LOOP5": {<br>
					&nbsp&nbsp&nbsp&nbsp"TEMP": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp},<br>
					&nbsp&nbsp"UPW": {<br>
					&nbsp&nbsp&nbsp"LOOP4": {<br>
					&nbsp&nbsp&nbsp&nbsp"Particle": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Resistivity": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"SiO2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"TOC": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"DO": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"TEMP": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp},<br>
					&nbsp&nbsp"Bulk gas": {<br>
					&nbsp&nbsp&nbsp"4 %HZ/N2": {<br>
					&nbsp&nbsp&nbsp&nbsp"AGCM100": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"AGCM101": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"BGCM301": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp},<br>
					&nbsp&nbsp"BGS": {<br>
					&nbsp&nbsp&nbsp"PAR": {<br>
					&nbsp&nbsp&nbsp&nbsp"PMS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2O": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"O2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"THC": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"N2": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"PHE": {<br>
					&nbsp&nbsp&nbsp&nbsp"PMS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2O": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"O2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"THC": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"N2": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"PN2": {<br>
					&nbsp&nbsp&nbsp&nbsp"PMS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2O": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"O2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"THC": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"N2": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"PO2": {<br>
					&nbsp&nbsp&nbsp&nbsp"PMS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2O": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"AR": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"CO2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"THC": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"Pressure": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"N2": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"XCDA": {<br>
					&nbsp&nbsp&nbsp&nbsp"PMS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"H2O": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"NH3": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"TS": 0.0,<br>
					&nbsp&nbsp&nbsp&nbsp"TOC": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"CDA": {<br>
					&nbsp&nbsp&nbsp&nbsp"PT": 0.0<br>
					&nbsp&nbsp&nbsp},<br>
					&nbsp&nbsp&nbsp"GNZ": {<br>
					&nbsp&nbsp&nbsp&nbsp"PT": 0.0<br>
					&nbsp&nbsp&nbsp}<br>
					&nbsp&nbsp}<br>
					&nbsp}<br>
					]
				</p>
			</div>
		</div>
	</div>
</div>