body, html {
	height: 100%;
	margin: 0;
}
#LayoutBody {
	background-image: url("../image/background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	opacity: 0.9;
	text-align: center;
	font-size: 30px;
	color:#ffffff;
}
.fullSize {
	height:100%;
}
#headerSpace {
	padding-left:15px;
	padding-right:15px;
}
#menuTabSpace {
	opacity:0.9;
}
#Content {
	height: 100%;
	background-color: #DDFFDD;
	opacity: 0.8;
	padding: 30px;
}
.KanBanDataBlock {
	background-color: #EEEEEE;
}
.borderSet {
	border-width: 1px;
	border-style: solid;
}