<!DOCTYPE html>

<html>

<head>
	<script src="../Scripts/jquery-3.5.1.min.js"></script>
	<script src="../Scripts/jquery/QQ.js"></script>
	<script src="../Scripts/dx.all.js"></script>
	<script src="../Scripts/bootstrapl.js"></script>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />	
	<link href="../Content/Charset.css" rel="stylesheet" type="text/css">
	<link href="../Content/dx.common.css" rel="stylesheet" type="text/css">
	<link href="../Content/dx.light.css" rel="stylesheet" type="text/css">
	<link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../Content/Site.css" rel="stylesheet" type="text/css">

	<meta charset="utf-8">
	<title id="qq">Test</title>
</head>
<body>

	<h1 id="gg"></h1>
</body>
</html>
